<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="text-center">
		<table class="table">
			<tr>
				<th>번호</th>
				<td>[[${board.bno}]]</td>
			</tr>
			
			<tr>
				<th>제목</th>
				<td>[[${board.title}]]</td>
			</tr>
			
			<tr>
				<th>작성자</th>
				<td>[[${board.writer}]]</td>
			</tr>
			
			<tr>
				<th>내용</th>
				<td height="100px"
				    width="200px">[[${board.contents}]]</td>
			</tr>
			
			<tr>
				<th>첨부파일</th>
				<!-- /images/cat.jpg -->
				<td><img style="width: 50%" th:src="@{/images/{file}(file=${board.image})}"></td>
			</tr>
			
			<tr>
				<th>작성일자</th> <!-- yyy/MM/dd -->
				<td th:text="${#dates.format(board.regdate, 'yyyy년MM월dd일')}"></td>
			</tr>
		</table>
		
		<button type="button" th:onclick="|location.href='@{/boardUpdate(bno=${board.bno})}'|">수정</button>
		<button type="button" th:onclick="|location.href='@{/boardList}'|">목록</button>
		<button type="button" th:onclick="|location.href='@{/boardDelete(bno=${board.bno})}'|">삭제</button>
		
		
	</div>
</body>
</html>